.Homepage {
    padding-bottom: 33px;
}

img {
    width: 175px;
    height: 175px;
}
div#commentDiv {
    width: 100%;
    padding-left: 101%;
    padding-bottom: 10%;
}
/* for mobile views */
@media screen and (max-width: 768px) {

}
