<!DOCTYPE html>
<link href="../static/css/albumProfile.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "NavBar.html" %}
<html>
<body>
    <script>
        function leaveComment(reviewID)
        {
            document.getElementById(`commentFor-${reviewID}`).style.display = 'block';
        }
        function addComment(reviewID)
        {
            
            const comment = document.getElementById(`commentInput-${reviewID}`).value;

            fetch('/addComment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 
                    reviewID: reviewID,
                    comment: comment
                
                })
            })
            .then(data => {
                console.log('Success:', data);
                document.getElementById(`commentFor-${reviewID}`).style.display = 'none';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
<div>
    <h1>{{ albumInfo.name }}</h1>
    <p>Artist: {{ albumInfo.artistName }}</p>
    <img src="{{ albumInfo.imageURL }}">
    <p>Release Date: {{ albumInfo.releaseDate }}</p>
    <p>Total Tracks: {{ albumInfo.totalTracks }}</p>
</div>

<h2>Reviews</h2>
<table class="reviewTable">
    <tbody>
        {% for review in reviews %}
        <tr class="reviewRow">
            <td class="reviewUsername">{{ review.reviewer_username }}</td>
            <td class="reviewDate">{{ review.date_listened }}</td>
            <td class="reviewText">{{ review.review }}</td>
            <td class="reviewReply">
                <button class="replyButton" onclick="leaveComment({{ review.reviewID }})">Reply</button>
            </td>
        </tr>
        <tr class="commentRow">
            <td>
                <div id="commentFor-{{ review.reviewID }}" class="commentBox" style="display:none;">
                    <input type="text" id="commentInput-{{review.reviewID}}" class="commentInput" placeholder="Write a comment...">
                    <button class="commentButton" onclick="addComment({{ review.reviewID }})">Comment</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



</body>
</html>
</html>
