<!DOCTYPE html>
<link href="../static/css/homepage.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "NavBar.html" %}
<html>
<body>
    
<div>
    <h1>{{ albumInfo.name }}</h1>
    <p>Artist: {{ albumInfo.artistName }}</p>
    <img src="{{ albumInfo.imageURL }}">
    <p>Release Date: {{ albumInfo.releaseDate }}</p>
    <p>Total Tracks: {{ albumInfo.totalTracks }}</p>
</div>


<table class="">
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review.reviewer_username }}</td>
            <td>{{ review.date_listened }}</td>
            <td>{{ review.review }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!--
we need to add a hidden one for email above, and then clicking on a username will take you to that persons page
-->


</body>
</html>
</html>
