<!DOCTYPE html>
<link href="../static/css/homepage.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "NavBar.html" %}
<html>
<body>
    <script>
        const userFavourites = {{ favourites | tojson }}; 
        const clientId = "{{ spotifyClientID }}";
        const clientSecret = "{{ spotifyClientSecret }}";
    </script>
    <script src="../static/JS/homepage.js" defer></script>
    <div class="Homepage">
        <h1>My Favourites</h1>
        <iframe id="newReview" src="newReview" class="newReview" style="display:none"></iframe>
        <div class="topThree">
            <div id="FavouriteAlbum" class="FavouriteAlbum"> 
                <p id="FavouriteAlbumName"></p>
                <img id="FavouriteAlbumImage" src="https://i.scdn.co/image/ab67616d0000b273e85259a1cae29a8d91f2093d" alt="FavouriteAlbum" class="FavouriteAlbum">
                <button id="FavouriteAlbumEdit" onclick="replaceWithSearch('FavouriteAlbum', 'album')">Edit</button>
            </div>

            <div id="FavouriteArtist" class="FavouriteArtist">
                <p id="FavouriteArtistName"></p>
                <img id="FavouriteArtistImage" src="" alt="FavouriteArtist" class="FavouriteArtist">
                <button id="FavouriteArtistEdit" onclick="replaceWithSearch('FavouriteArtist', 'artist')">Edit</button>
            </div>

            <div id="FavouriteSong" class="FavouriteSong">
                <p id="FavouriteSongName"></p>
                <img id="FavouriteSongImage" src="" alt="FavouriteSong" class="FavouriteSong">
                <button id="FavouriteSongEdit" onclick="replaceWithSearch('FavouriteSong', 'song')">Edit</button>
            </div>
        </div>

        <br><br><br> <!--Replace with actual CSS-->

        <h1>Recent Reviews</h1>
        <table class="RecentReviews">
            <tbody>
                {% for review in reviews %}
                <tr>
                    <td><img src="{{ review.artist_name | replace(' ', '_') }}.jpg" alt="Artist PFP"></td>
                    <td>{{ review.album_name }}</td>
                    <td>{{ review.artist_name }}</td>
                    <td>{{ review.date_listened }}</td>
                    <td>{{ review.review }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="addReview()">Add Review</button>
    </div>

</body>
</html>
