<!DOCTYPE html>
<link href="../static/css/login.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "NavBar.html" %} 
<html>
<body>
    <div class="LoginDetails">
        <form method="POST" action="/Login">
            <label for="usernameLogin">Login:</label>
            <input type="text" id="username" name="username" required>
            <br><br>
            <label for="passwordLogin">Password:</label>
            <input type="text" id="password" name="password" required><br><br>
        <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
