<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MyDiscog</title>
<link href="../static/css/NavBar.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- Navbar -->
<div class="navbar">
  <div class="left-items">
    <a class="Logo" href="/">
      <img src="../static/Images/Logo.png" alt="Logo" class="Logo">
    </a>
    {% if 'email' not in session or not session['email'] %}
      <a href="Login">Login</a>
      <a href="Register">Register</a>
    {% else %}
      <a href="DM">DM</a>
    {% endif %}
    <a href="Discover">Discover</a>
  </div>

  <div class="right-items">
    {% if 'email' in session and session['email'] %}
      <a href="logout">Log Out</a>
    {% endif %}
  </div>
</div>

</body>
</html>
