<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MyDiscog</title>
<link href="../static/css/NavBar.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- Navbar -->
<div class="navbar">
  <!-- Left-aligned items -->
  <div class="left-items">
    <a class="Logo" href="/">
      <img src="../static/Icons/Logo.png" alt="Logo" class="Logo">
    </a>
    <a href="Login">Login</a>
    <a href="Register">Register</a>
    <a href="Discover">Discover</a>
  </div>

  <!-- Right-aligned items -->
  <div class="right-items">
    <a href="#signup">Log Out</a>
  </div>
</div>

</body>
</html>