<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MyDiscog</title>
<link href="../static/css/NavBar.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- Navbar -->
<div class="navbar">
  <div class="left-items">
    <a class="Logo" href="/">
      <img src="../static/Images/Logo.png" alt="Logo" class="Logo">
    </a>
    {% if 'email' not in session or not session['email'] %}
      <a href="Login">Login</a>
      <a href="Register">Register</a>
    {% else %}
      <a href="DM">DM</a>
      <div class="search-bar">
        <input type="text" id="searchQuery" placeholder="Enter name">
        <select id="searchType">
          <option value="album">Album</option>
          <option value="user">User</option>
        </select>
        <button onclick="searchUserOrMedia()">🔍</button>
        <div id="searchDropdown" class="dropdown"></div> 
      </div>
    {% endif %}
    <a href="Discover">Discover</a>
  </div>

  <div class="right-items">
    {% if 'email' in session and session['email'] %}
      <a href="spotify_login">Link Account to Spotify</a>
      <a href="logout">Log Out</a>
    {% endif %}
  </div>
</div>
<script>

  async function searchUser(query) {
    const response = await fetch('/searchUser', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ query })
    });
  
    const userProfile = await response.json();
  
    if (userProfile.redirect_url) 
    {
      window.location.href = userProfile.redirect_url;
    } 
    else if (userProfile.error) 
    {
      document.getElementById("result").innerText = userProfile.error;
    }
  }
  

  async function searchAlbum(query) {
    const response = await fetch('/searchReviews', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ query })
    });
  }

  function searchUserOrMedia() {
    type = document.getElementById('searchType').value;
    query = document.getElementById('searchQuery').value;

    if (type == "album")
    {
      searchAlbum(query);
    }
    else
    {
      searchUser(query);
    }
  }
</script>
</body>
</html>
