<!DOCTYPE html>
<link href="../static/css/register.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "NavBar.html" %} 
<html>
<body>
    <div class="registerDetails">
        <form method="POST" action="/Register">
            <label for="email">Email Address:</label><br>
            <input type="email" id="email" name="email" required><br><br>
    
            <label for="name">Display Name:</label>
            <div class="tooltip">
                <span class="tooltiptext">This name will be displayed on your profile.</span>
            <div>
            <input type="text" id="name" name="name" required><br><br>

            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br><br>
    
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
    
            <input type="submit" value="Register">
        </form>  
    </div>
</body>
</html>
<iframe id="setFavourites" src="setFavourites" class="setFavourites" ></iframe>