<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/showRecomendations.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Recommendations</title>

</head>
<body>

    <h1>Album Recommendations</h1>

    <div class="album-list" id="albumList"></div>

    <script>
        window.onload = function() {
            fetchRecommendations(); 
        };

        function fetchRecommendations() {
            fetch('/recommendAlbums') 
                .then(response => response.json())
                .then(data => {
                    displayRecommendations(data);
                })
                .catch(error => {
                    console.error('Error fetching recommendations:', error);
                });
        }

        function displayRecommendations(data) {
            const albumList = document.getElementById('albumList');
            albumList.innerHTML = '';
            
            if (data && data.albums && data.albums.album) 
            {
                data.albums.album.forEach(album => {
                    const albumItem = document.createElement('div');
                    albumItem.classList.add('album-item');

                    const albumImage = document.createElement('img');
                    const image = album.thumbnail; 
                    albumImage.src = image || ''; 
                    albumItem.appendChild(albumImage);

                    const albumInfo = document.createElement('div');
                    albumInfo.classList.add('album-info');
                    const albumTitle = document.createElement('h3');
                    albumTitle.textContent = album.name;
                    albumInfo.appendChild(albumTitle);

                    const albumArtist = document.createElement('p');
                    albumArtist.textContent = `Artist: ${album.artist}`;
                    albumInfo.appendChild(albumArtist);



                    albumItem.appendChild(albumInfo);
                    albumList.appendChild(albumItem);
                });
            } 
            else
            {
                albumList.innerHTML = '<p>No recommendations available. Start writing reviews!</p>';
            }
        }
    </script>

</body>
</html>
