<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Favorites</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            
        }
        input, select, button {
            padding: 10px;
            font-size: 16px;
            margin-right: 10px;
        }
        .reviews-list {
            margin-top: 20px;
        }
        .review-item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Spotify Search</h1>
    <input type="text" id="searchQuery" placeholder="Enter name" />
    <select id="searchType">
        <option value="album">Album</option>
        <option value="user">user</option>
    </select>
    <button onclick="searchSpotify()">Search</button>
    <div id="result"></div>
    <div class="reviews-list" id="reviewsList">
        <h2>Reviews</h2>
    </div>
    <script>
        async function searchSpotify() {
            const query = document.getElementById('searchQuery').value;
            const type = document.getElementById('searchType').value;
            let name = query;
            let imageURL = "";
            
            if (type === 'album') {
                const response = await fetch('/searchSpotify', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ query, type })
                });
                const result = await response.json();
                if (result.error) return;
                name = result.name;
                imageURL = result.imageURL;
            }
            
            document.getElementById('result').innerHTML = `<h3>${name}</h3><img src="${imageURL}" alt="Image" />`;
            
            const searchType = type;
            const reviews = await fetch('/searchReviews', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ name, searchType })
            });
            const reviewsResult = await reviews.json();
            const reviewsListElement = document.getElementById('reviewsList');
            reviewsListElement.innerHTML = '<h2>Reviews</h2>';
            reviewsResult.forEach(item => {
                const reviewElement = document.createElement('div');
                reviewElement.classList.add('review-item');
                reviewElement.innerHTML = `<strong>Email:</strong> ${item.user_email} <br> <strong>Notes:</strong> ${item.review.notes}`;
                reviewsListElement.appendChild(reviewElement);
            });
        }
    </script>
</body>
</html>
